src/main/mule/sampletestgit.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3c70d7b6-a1f9-45f2-bff5-ada48d0e0e8b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sampletestgitFlow" doc:id="9eada319-9b37-4b84-a409-4f5fc25a2833" >
		<http:listener doc:name="Listener" doc:id="5ea133d4-b3a0-470d-b008-d4146ea8a71e" config-ref="HTTP_Listener_config" path="/sampletest"/>
		<logger level="INFO" doc:name="Logger" doc:id="861aac5c-69e3-4546-8f41-33ef194baa0a" message="SampleGitTest"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="749eafa5-030f-4ebe-bab8-debf17de4d38" />
		<ee:transform doc:name="Transform Message" doc:id="bd560855-eb7b-4888-bfad-0483d7c91a85" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
